<!DOCTYPE html>
<html>

  {% include head.html %}
  <style type="text/css">
    a {TEXT-DECORATION:none}
  </style>

  <body>

    <div class="header" style="background-color:#EEEEEE">
      <a href="index.html"><font size="3">Yuchen Gao</font></a>
    </div>
    <hr>

    <div class="page-content">
      <table border="0">
        <td valign=top style="background-color:#AAAAAA;width:350px;">
          <b>菜单<b><br>
          <a href="About_me.html">About me</a><br>
          <a href="About_me.html">News</a><br>
          <a href="About_me.html">Knowledge Network Project</a><br>
        </td>
        <td valign=top>
          {{ content }}
        </td>
      </table>
    </div>
    <hr>
    <div class="header" style="background-color:#EEEEEE">
      <a href="index.html"><font size="1">Yuchen Gao</font></a>
    </div>    

  </body>

</html>
