<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div id="menu" style="background-color:FFFFEE;width:200px;float:left;">
        <b>菜单<b><br>
        <a href="About_me.html">About me</a><br>
        <a href="About_me.html">News</a><br>
        <a href="About_me.html">Knowledge Network Project</a><br>
      <div class="content" style="background-color:FFFFFF;float:left;">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
