<!DOCTYPE html>
<html>

  {% include head.html %}
  <style type="text/css">
    a {color:#000000;TEXT-DECORATION:none}
  </style>

  <body>
    <div class="page-content">
      <table border="0">
        <tr>
          <td colspan="2" style="background-color:#DDDDDD">
          <a href="index.html" style="font-size:3"><font size="3">Yuchen Gao</font></a>
          <hr>
          </td>
        </tr>
        <tr>
        <td valign=top style="background-color:#DDDDDD;width:300px;">
          <b>菜单<b><br>
          <a href="About_me.html">About Me</a><br>
          <a href="About_me.html">News</a><br>
          <a href="About_me.html">Knowledge Network Project</a><br>
        </td>
        <td valign=top>
          {{ content }}
        </td>
        </tr>
        <tr>
          <td colspan="2" style="background-color:#EEEEEE">
          <hr>
          <a href="index.html">Yuchen Gao</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
